<!DOCTYPE html>
<html lang="en">

    <head>
  <title>财神张</title>

        <!-- App css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icons.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.min.css') }}">

    </head>
    <style>

 #page-topbar{
     z-index: 2013;
 }
 .navbar-header{
     margin-left: 0;
     height: 120px;
 }
 .vertical-menu{
     top: 140px;
 }
    </style>

    <body>

        <!-- Begin page -->
        <div id="layout-wrapper">

            <div class="header-border"></div>
            <header id="page-topbar">
                <div class="navbar-header" style="display: grid;place-items: center;padding-left: 400px;">

                                <div class="card-body" style="display: grid;place-items: center;">
                                    <h1 class="card-title" style="font-size: 36px;color: #3366cc; ">财神张实验室</h1>
                                    <div class="button-examples">
                                       <button type="button" onclick="redirectToPage('index_new')" class="btn btn-secondary waves-effect waves-light">首 页</button>
                                        <button type="button" onclick="redirectToPage('contract')" class="btn btn-primary waves-effect waves-light">我的联系方式</button>
                                        <button type="button" onclick="redirectToPage('config_header')" class="btn btn-secondary waves-effect waves-light">配置信息</button>
                                        <button type="button" onclick="redirectToPage('video')" class="btn btn-success waves-effect waves-light">视频合成</button>
                                        <button type="button" class="btn btn-danger waves-effect waves-light">配置信息</button>
                                        <button type="button" class="btn btn-warning waves-effect waves-light">自媒体项目</button>
                                        <button type="button" class="btn btn-info waves-effect waves-light">文件管理</button>
                                        <button type="button" class="btn btn-light waves-effect">后续优化</button>
                                        <button type="button" class="btn btn-dark waves-effect waves-light">Dark</button>
                                        <button type="button" class="btn btn-link waves-effect">  Link</button>
                                    </div>

                                </div>


                </div>
            </header>
            <div class="vertical-menu" id="content_header">
               <div data-simplebar class="h-100">

                    <div class="navbar-brand-box">
                        <a href="" class="logo">
                            <i class="mdi mdi-album"></i>
                            <span>
                                联系我们
                            </span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="main-content" >

                <div class="page-content">
                    <div id="container-fluid" >

                        <!-- start page title -->
                <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Dashboard</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Xeloro</a></li>
                                            <li class="breadcrumb-item active">Dashboard</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
<div class="row mt-4">
                        <div class="col-12">
                            <div class="card-deck-wrapper">
                                <div class="card-deck">
                                    <div class="card mb-4">
                                        <img class="card-img-top img-fluid" src="static/img/img.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">QQ群</h5>
                                            <p class="card-text">AGI：1083992954,群里可以交流系统使用和常见问题</p>
                                            <p class="card-text">
                                                <small class="text-muted">Last updated 3 mins ago</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <img class="card-img-top img-fluid" src="static/img/img_3.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">公众号</h5>
                                            <p class="card-text">财神开张，分享技术前沿，有创意的实用AI工具分享</p>
                                            <p class="card-text">
                                                <small class="text-muted">Last updated 3 mins ago</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <img class="card-img-top img-fluid" src="static/img/img.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">知识星球</h5>
                                            <p class="card-text">AIGC变现项目，定期举办挑战计划</p>
                                            <p class="card-text">
                                                <small class="text-muted">Last updated 3 mins ago</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





                        <!--end row-->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">

© 2023 版权所有
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-right d-none d-sm-block">
                                    Design & Develop by 财神张
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- Overlay-->
        <div class="menu-overlay"></div>

        <!-- jQuery  -->

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/metismenu.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/waves.js') }}"></script>
        <script src="{{ url_for('static', filename='js/simplebar.min.js') }}"></script>
        <!-- Sparkline Js-->
        <script src="{{ url_for('static', filename='js/jquery.sparkline.min.js') }}"></script>
        <!-- Chart Js-->
        <script src="{{ url_for('static', filename='js/jquery.knob.min.js') }}"></script>
        <!-- Chart Custom Js-->
         <script src="{{ url_for('static', filename='js/knob-chart-demo.js') }}"></script>
        <!-- Morris Js-->
        <script src="{{ url_for('static', filename='js/morris.min.js') }}"></script>
        <!-- Raphael Js-->
        <script src="{{ url_for('static', filename='js/raphael.min.js') }}"></script>
        <!-- Custom Js -->
        <script src="{{ url_for('static', filename='js/dashboard-demo.js') }}"></script>
        <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <!-- App js -->


    </body>

</html>