 <div data-simplebar class="h-100">

                    <div class="navbar-brand-box">
                        <a href="" class="logo">
                            <i class="mdi mdi-album"></i>
                            <span>
                                联系我们
                            </span>
                        </a>
                    </div>
                </div>




<div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Dashboard</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Xeloro</a></li>
                                            <li class="breadcrumb-item active">Dashboard</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
<div class="row mt-4">
                        <div class="col-12">
                            <div class="card-deck-wrapper">
                                <div class="card-deck">
                                    <div class="card mb-4">
                                        <img class="card-img-top img-fluid" src="static/img/img.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">QQ群</h5>
                                            <p class="card-text">AGI：1083992954,群里可以交流系统使用和常见问题</p>
                                            <p class="card-text">
                                                <small class="text-muted">Last updated 3 mins ago</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <img class="card-img-top img-fluid" src="static/img/img_3.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">公众号</h5>
                                            <p class="card-text">财神开张，分享技术前沿，有创意的实用AI工具分享</p>
                                            <p class="card-text">
                                                <small class="text-muted">Last updated 3 mins ago</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <img class="card-img-top img-fluid" src="static/img/img.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">知识星球</h5>
                                            <p class="card-text">AIGC变现项目，定期举办挑战计划</p>
                                            <p class="card-text">
                                                <small class="text-muted">Last updated 3 mins ago</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>