<!DOCTYPE html>
<html lang="en">

    <head>
  <title>财神张</title>

        <!-- App css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icons.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.min.css') }}">



    </head>
    <style>

 #page-topbar{
     z-index: 2013;
 }
 .navbar-header{
     margin-left: 0;
     height: 200px;
 }
 .vertical-menu{
     top: 200px;
 }
    </style>

    <body>

        <!-- Begin page -->
        <div id="layout-wrapper">
            
            <div class="header-border"></div>
            <header id="page-topbar">
                <div class="navbar-header" style="display: grid;place-items: center;padding-left: 400px;">

                    <!-- <div class="row" style="display: grid;place-items: center;justify-items: center; padding-left: 200px;"  > -->
                        <!-- <div class="col-xl-40" style="display: grid;place-items: center;justify-items: center;"> -->
                            <!-- <div class="card" style="display: grid;place-items: center;justify-items: center;"> -->
                                <div class="card-body" style="display: grid;place-items: center;">
                                    <h1 class="card-title" style="font-size: 36px;color: #3366cc; ">财神张实验室</h1>
                                    <p class="card-subtitle mb-4" style="font-size: 18px; ">欢迎来到我们的网站！我们致力于为您提供最前沿的技术应用，助您轻松掌握并免费运用于自媒体创作。
                                    </p>

                                    <div class="button-examples">
                                        <button type="button" class="btn btn-primary waves-effect waves-light">我的联系方式</button>
                                        <button type="button" class="btn btn-secondary waves-effect waves-light">财神开张</button>
                                        <button type="button" class="btn btn-success waves-effect waves-light">公众号</button>
                                        <button type="button" class="btn btn-danger waves-effect waves-light">配置信息</button>
                                        <button type="button" class="btn btn-warning waves-effect waves-light">自媒体项目</button>
                                        <button type="button" class="btn btn-info waves-effect waves-light">文件管理</button>
                                        <button type="button" class="btn btn-light waves-effect">后续优化</button>
                                        <button type="button" class="btn btn-dark waves-effect waves-light">Dark</button>
                                        <button type="button" class="btn btn-link waves-effect"> <a href="index_new_2.html">lizi</a></button>
                                    </div>

                                </div>
                                <!-- end card-body-->
                            <!-- </div> -->
                            <!-- end card -->

                        <!-- </div> -->
                        <!-- end col -->

                       
                        <!-- end col -->
                    <!-- </div> -->

                </div>
            </header>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <div class="navbar-brand-box">
                        <a href="index.html" class="logo">
                            <i class="mdi mdi-album"></i>
                            <span>
                                TOOLS
                            </span>
                        </a>
                    </div>

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title">目录</li>

                            <li>
                                <a href="index.html" class="waves-effect" ><i class="mdi mdi-home-analytics"></i><span
                                        class="badge badge-pill badge-primary float-right">7</span><span>分词</span></a>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                        class="mdi mdi-diamond-stone"></i><span>文本分类</span></a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="text classification/Keras-LSTM-Sentiment-classification.html" target="iframeBody">LSTM情感分类</a></li>
                                     <li><a href="text classification/酒店评论情感分析.html" target="iframeBody">酒店评论情感分析</a></li>
                                    <li><a href="text classification/language-detector.html" target="iframeBody">简易语种检测器</a></li>
                                    
                                    <li><a href="text classification/3.chinese_text_classifier.html" target="iframeBody">中午新闻分类</a></li> 
                                    <li><a href="text classification/4.text_classification-checkpoint.html" target="iframeBody">中文文本分类</a></li> 
                                    <li><a href="text classification/ predicting_movie_reviews_with_bert_on_tf_hub.html" target="iframeBody">bert电影评论情感分析</a></li> 
                                     <li><a href="keras/NLP_project/1.chinese_text_word_cloud.html" target="iframeBody">词云实例</a></li>
                                    <li><a href="keras/NLP_project/2.chinese_text_analysis.html" target="iframeBody">中文自然语言处理分析</a></li>
                                    <li><a href="keras/NLP_project/4.facebook_fasttext.html" target="iframeBody">Facebook FastText</a></li>
                                    <li><a href="keras/NLP_project/5.deep Learning and text classification.html" target="iframeBody">用深度学习做文本分类</a></li>  
                                     
                                      <li><a href="javascript: void(0);" class="has-arrow">CCF AI法官</a>
                                      	
                                     	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="text classification/AIJudge/项目与代码说明.pdf" target="iframeBody">AI法官说明</a></li>
				                                    <li><a href="text classification/AIJudge" target="iframeBody">项目地址</a></li>
				                                   
				                                   
				                                 </ul>
                                     	
                                     </li>
                                    
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                        class="mdi mdi-table-merge-cells"></i><span>自动摘要</span></a>
                                <ul class="sub-menu" aria-expanded="false">
                                   <li><a href="qa/Summarization/mr2zhan.html" target="iframeBody">指针生成网络</a></li>
                                    <li><a href="tables-datatables.html">Data Tables</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                        class="mdi mdi-poll"></i><span>阅读理解</span></a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="qa/comprehension/mr2zhang.html" target="iframeBody">双向自注意力流（阅读理解）</a></li>
                                    <li><a href="charts-google.html">Google</a></li>
                                    <li><a href="charts-chartjs.html">Chartjs</a></li>
                                    <li><a href="charts-sparkline.html">Sparkline</a></li>
                                    <li><a href="charts-knob.html">Jquery Knob</a></li>
                                </ul>
                            </li>
 												  <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                        class="mdi mdi-poll"></i><span>实体识别</span></a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="qa/ner/crf++.html" target="iframeBody">实体识别</a></li>
                                    <li><a href="charts-google.html">Google</a></li>
                                   
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="waves-effect"><i
                                        class="mdi mdi-format-list-bulleted-type"></i><span
                                        class="badge badge-pill badge-danger float-right">6</span><span>自动问答</span></a>
                                <ul class="sub-menu" aria-expanded="false">
                                	<li><a href="javascript: void(0);" class="has-arrow">自动问答系统项目</a>
                                  	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="qa/acc5/智能问答系统.pptx" target="iframeBody">自动问答说明</a></li>
				                                    <li><a href="qa/acc5" target="iframeBody">项目地址</a></li>
				                                  
				                                 </ul>
				                               </li>
				                            	<li><a href="javascript: void(0);" class="has-arrow">智能问答NLP项目</a>
                                  	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="qa/集7智能问答项目资料和文档/智能问答NLP项目文档.pdf" target="iframeBody">智能问答NLP项目文档</a></li>
				                                    <li><a href="qa/集7智能问答项目资料和文档" target="iframeBody">项目地址</a></li>
				                                  
				                                 </ul>
				                               </li>
                                    <li><a href="qa/kg/cots/QA-Snake" target="iframeBody">自动问答框架qa-shake</a></li>
                                    <li><a href="qa/kg/cots/QA-Snake-master" target="iframeBody">自动问答框架qa-shake3</a></li>
                                    <li><a href="qa/kg/cots/python-aiml-0.9.1" target="iframeBody">自动问答框架aiml</a></li>
                                    	<li><a href="javascript: void(0);" class="has-arrow">检索式机器人项目</a>
                                  	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="qa/pyaimlEx-master/aiml.pdf" target="iframeBody">自动问答说明</a></li>
				                                    <li><a href="qa/pyaimlEx-master" target="iframeBody">项目地址aiml</a></li>
				                                  
				                                 </ul>
				                               </li>
				                               	<li><a href="javascript: void(0);" class="has-arrow">任务式机器人项目</a>
                                  	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="qa/OpendialEx-master/qa.pdf" target="iframeBody">任务式</a></li>
				                                    <li><a href="qa/OpendialEx-master" target="iframeBody">项目地址</a></li>
				                                  
				                                 </ul>
				                               </li>
				                            	<li><a href="javascript: void(0);" class="has-arrow">问答式机器人项目</a>
                                  	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="qa/kgRobot-master/qa.pdf" target="iframeBody">问答式机器人</a></li>
				                                    <li><a href="qa/kgRobot-master" target="iframeBody">项目地址</a></li>
				                                  
				                                 </ul>
				                               </li>   
                                     <li><a href="qa/chatterbot聊天机器人.html" target="iframeBody">chatterbot聊天机器人</a></li>
                                      <li><a href="qa/mr2zhang.html" target="iframeBody">多轮对话系统rasa</a></li>
                                    <li><a href="forms-validation.html">Validation</a></li>
                                    
                                    <li><a href="forms-mask.html">Masks</a></li>
                                    <li><a href="forms-quilljs.html">Quilljs</a></li>
                                    <li><a href="forms-uploads.html">File Uploads</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                        class="mdi mdi-black-mesa"></i><span>知识图谱</span></a>
                                <ul class="sub-menu" aria-expanded="false">
                                      <li><a href="javascript: void(0);" class="has-arrow">汽车知识图谱</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="kg/kgcar" target="iframeBody">汽车知识图谱</a></li>
				                                    <li><a href="kg/spider/" target="iframeBody">爬虫</a></li>
				                                  
                                        </ul>
                                     	
                                     </li>
                                    <li><a href="kg/py2neo-3">python-neo4j整合</a></li>
                                    <li><a href="icons-dripicons.html">Dripicons</a></li>
                                    <li><a href="icons-feather.html">Feather Icons</a></li>
                                </ul>
                            </li>
                              <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                        class="mdi mdi-black-mesa"></i><span>文本匹配</span></a>
                                	<ul class="sub-menu" aria-expanded="false">
                                      <li><a href="javascript: void(0);" class="has-arrow">多个模型尝试文本匹配</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="match/text_matching-master" target="iframeBody">项目地址</a></li>
				                                 
                                        </ul>
                                     	
                                     </li>
                                  
                                </ul>
                            </li>
                             <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                        class="mdi mdi-black-mesa"></i><span>机器学习</span></a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="machine/数据科学比赛套路.pdf" target="iframeBody">PDF 数据科学比赛套路</a></li>  
                                    <li><a href="machine/zhengqiji.html" target="iframeBody">天池比赛蒸汽机</a></li>
                                    
                                     <li><a href="javascript: void(0);" class="has-arrow">大学生助学金预测</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="machine/college/0.Problem_Setting.html" target="iframeBody">问题描述</a></li>
				                                    <li><a href="machine/college/1.Data_Cleaning.html" target="iframeBody">数据分析与清洗</a></li>
				                                    <li><a href="machine/college/2.Data_Split.html" target="iframeBody">数据切分——data_split</a></li>
				                                    <li><a href="machine/college/3.Logistic_Regression.html" target="iframeBody">Logistic_Regression</a></li>
				                                    <li><a href="machine/college/4.RandomForest_and_GBDT.html" target="iframeBody">RandomForest_and_GBDT</a></li>
				                                    <li><a href="machine/college/5.Neural_Networks.html" target="iframeBody">Neural_Networks</a></li>
				                                    <li><a href="machine/DataMiningCompetitionFirstPrizeCodes/DataMiningCompetitionFirstPrizeCodes/doc/助学金精准预测-DataMining.pdf" target="iframeBody">助学金靳准预测晋级</a></li>
				                                    <li><a href="machine/DataMiningCompetitionFirstPrizeCodes/DataMiningCompetitionFirstPrizeCodes" target="iframeBody">助学金靳准预测晋级地址</a></li>
                                        </ul>
                                     	
                                     </li>
                                      <li><a href="javascript: void(0);" class="has-arrow">哈佛大学用电量预测</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="machine/harvard/1_项目一览、数据处理与分析.html" target="iframeBody">项目一览、数据处理与分析</a></li>
				                                    <li><a href="machine/harvard/2_线性回归与支持向量回归.html" target="iframeBody">线性回归与支持向量回归</a></li>
				                                    <li><a href="machine/harvard/3_高斯过程回归.html" target="iframeBody">高斯过程回归</a></li>
				                                    <li><a href="machine/harvard/4_随机森林与K最近邻.html" target="iframeBody">随机森林与K最近邻</a></li>
				                                    <li><a href="machine/harvard/5_总结与分析.html" target="iframeBody">总结与分析</a></li>
				                                   
				                                    
                                        </ul>
                                     	
                                     </li>
                                       <li><a href="machine/zhaopin.html" target="iframeBody">智联招聘一排相关性</a></li>
                                       <li><a href="machine/house-price-prediction-solution-checkpoint.html" target="iframeBody">房价预测实例</a></li>
                                       <li><a href="machine/kaggle_house_competition_data_EDA_1.html" target="iframeBody">房价预测实例01</a></li>
                                       <li><a href="machine/kaggle_house_competition_data_EDA_2.html" target="iframeBody">房价预测实例02</a></li>
                                       <li><a href="algorithm/Titanic-by-hanxiaoyang.html" target="iframeBody"> 泰坦尼克号存活案例02</a></li>
                                        <li><a href="algorithm/Rossmann_Store_Sales_competition.html" target="iframeBody"> 便利店销量预测</a></li> 
                                        <li><a href="hadoop spark/kaggle_Allstate_Competition_Random_Forest_GBT.html" target="iframeBody">保险公司预测索赔严重程度</a></li>
                                   		 <li><a href="hadoop spark/Question-Correlation-Analysis-solution.html" target="iframeBody">快手数据分析</a></li>
                                   		 <li><a href="machine/EDA-and-lr-modelling.html" target="iframeBody">肿瘤分类建模</a></li>
                                   		  <li><a href="machine/health-care-cost-analysis-modelling.html" target="iframeBody">医疗费用分析与建模预估</a></li>
                                   	<li><a href="javascript: void(0);" class="has-arrow">搜狗用户画像</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="machine/CCF-SouGou/CCF-SouGou-用户画像精准识别二等奖方案.pdf" target="iframeBody">CCF-SouGou-用户画像精准识别二等奖方案</a></li>
				                                    <li><a href="machine/CCF-SouGou" target="iframeBody">项目地址</a></li>
				                                   
				                                   
				                                 </ul>
                                     	
                                     </li>
                                     <li><a href="javascript: void(0);" class="has-arrow">风控算法大赛解决方案</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="machine/风控算法大赛解决方案/风控算法大赛解决方案_top1.pdf" target="iframeBody">风控算法大赛解决方案</a></li>
				                                    <li><a href="machine/风控算法大赛解决方案" target="iframeBody">项目地址</a></li>
				                                   
				                                   
				                                 </ul>
                                     	
                                     </li>
                                     <li><a href="javascript: void(0);" class="has-arrow">金融信用评分模型案例</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="machine/金融信用评分模型/信用评分模型.pdf" target="iframeBody">金融信用评分模型</a></li>
				                                    <li><a href="machine/金融信用评分模型" target="iframeBody">项目地址</a></li>
				                                   
				                                   
				                                 </ul>
                                     	
                                     </li>
                                     <li><a href="javascript: void(0);" class="has-arrow">微额借款用户人品预测</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="machine/微额借款用户人品预测大赛/微额借款用户人品预测大赛解决方案.pdf" target="iframeBody">微额借款用户人品预测</a></li>
				                                    <li><a href="machine/微额借款用户人品预测大赛" target="iframeBody">项目地址</a></li>
				                                   
				                                   
				                                 </ul>
                                     	
                                     </li>
                                   	 <li><a href="machine/Reccomendation System Examples.html" target="iframeBody">user-based协同过滤算法示例</a></li>
                                   	 <li><a href="machine/Kaggle_sf_crime_prediction.html" target="iframeBody">旧金山犯罪类型分类</a></li>
                                   	 <li><a href="machine/Kaggle_boi_competition.html" target="iframeBody">生物分子产生生物反应</a></li>
                                    <li><a href="machine/word_embedding.html" target="iframeBody">word_embedding实现（word2vect）</a></li>
                                   	 <li><a href="machine/word2vec.html" target="iframeBody">推荐系统word2vec实现</a></li>
                                   	 <li><a href="machine/China-Unicom" target="iframeBody">联通话费预测地址</a></li>
                                   	 <li><a href="machine/movie_recommender.html" target="iframeBody">MovieLens电影个性化推荐</a></li>
                                   	  <li><a href="machine/bpr.html" target="iframeBody">个性化推荐bpr实现</a></li>
                                   	  
                                   	   <li><a href="https://github.com/mandeep147/Amazon-Product-Recommender-System" target="iframeBody">亚马逊推荐系统</a></li>
                                   	  
                                   	  <li><a href="javascript: void(0);" class="has-arrow">音乐推荐系统</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="machine/music classification/1.Data_transform_and_preprocessing.html" target="iframeBody">音乐推荐系统系列</a></li>
				                                    <li><a href="machine/music classification/2.model_training_and_evaluation.html" target="iframeBody">python推荐系统库Surprise</a></li>
				                                    <li><a href="machine/music classification/3.sequence_modelling.html" target="iframeBody">歌曲序列建模</a></li>
				                                    <li><a href="machine/music classification/4.spark_collaborative_filtering.html" target="iframeBody">pyspark协同过滤</a></li>
				                                   
				                                   
				                                   
				                                 </ul>
                                     	
                                     </li>
                                      <li><a href="javascript: void(0);" class="has-arrow">spark 构建电影推荐 </a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="machine/movie spark/building-recommender.html" target="iframeBody">on-line movie spark1</a></li>
				                                    <li><a href="machine/movie spark/online-recommendations.html" target="iframeBody">on-line movie spark2</a></li>
				                                    <li><a href="machine/movie spark/recommender_system_using_spark.html" target="iframeBody">spark构建推荐系统</a></li>
				                                   
				                                 </ul>
                                     	
                                     </li>
                                      <li><a href="javascript: void(0);" class="has-arrow">电影推荐系统 </a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="machine/集7电影推荐系统/README/项目介绍/项目介绍.pdf" target="iframeBody">项目说明</a></li>
				                                    <li><a href="machine/集7电影推荐系统" target="iframeBody">项目地址</a></li>
				                                 
				                                 </ul>
                                     	
                                     </li>   
                                   	  
                                </ul>
                            </li>

														<li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                        class="mdi mdi-poll"></i><span>图像项目</span></a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="keras/4.2. MNIST CNN.html" target="iframeBody">MNIST CNN 手写数字</a></li>
                                    <li><a href="keras/4.3 CIFAR10 CNN.html" target="iframeBody">CIFAR10 CNN</a></li>
                                    <li><a href="keras/keras program/Food+Classification+with+Deep+Learning+in+Keras.html" target="iframeBody">食物图片分类</a></li>
				                             <li><a href="keras/keras program" target="iframeBody">食物图片分类py项目</a></li>
				                             <li><a href="machine/CV+其他深度学习部分项目资料.txt" target="iframeBody">CV+其他深度学习部分项目资料</a></li>
				                             <li><a href="machine/基于内容的图像检索原理简介.pdf" target="iframeBody">基于内容的图像检索原理简介.pdf</a></li>
				                             <li><a href="machine/CV项目讲解.pdf" target="iframeBody">CV项目讲解.pdf</a></li>
				                              <li><a href="machine/模型上线-PMML.pdf" target="iframeBody">模型上线-PMML解.pdf</a></li>  
				                              <li><a href="javascript: void(0);" class="has-arrow">癌症病理检测 </a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="machine/集7癌症病理检测项目/a-complete-ml-pipeline.html" target="iframeBody">癌症病理检测pipline</a></li>
				                                    <li><a href="machine/集7癌症病理检测项目/" target="iframeBody">项目地址</a></li>
				                                 
				                                 </ul>
                                     	
                                     </li>     
                                      
                                </ul>
                            </li>
                            <li class="menu-title">基础知识</li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                        class="mdi mdi-format-page-break"></i><span>Pandas</span></a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="pandas/pandas-1.html" target="iframeBody">pandas-01</a></li>
                                    <li><a href="pandas/1217教学.html" target="iframeBody">seris and pandas 分析例子</a></li>
                                    <li><a href="pandas/pandas-2_1.html" target="iframeBody">数据分析处理技能(下)01</a></li>
                                    <li><a href="pandas/pandas-2_2.html" target="iframeBody">数据分析处理技能（下）</a></li>
                                    <li><a href="pandas/Pandas_Cheat_Sheet.pdf" target="iframeBody">Pandas_Cheat_Sheet</a></li>
                                    <li><a href="pandas/pandas_dataframe_visualization.html" target="iframeBody">pandas的内置可视化</a></li>
                                    <li><a href="pandas/matplotlib_cases.html" target="iframeBody">matplotlib应用案例</a></li>
                                    <li><a href="pandas/matplotlib_exercises.html" target="iframeBody">matplotlib可视化练习</a></li>
                                    <li><a href="pandas/Matplotlib_visualization.html" target="iframeBody">Matplotlib可视化手册</a></li>
                                    <li><a href="pandas/matplotlib_exercises_good_work.html" target="iframeBody">matplotlib应用案例</a></li>
                                    <li><a href="pandas/seaborn_exercises_good_work.html" target="iframeBody">seaborn可视化练习01</a></li>
                                    <li><a href="pandas/seaborn_exercises-solution.html" target="iframeBody">seaborn可视化练习</a></li>
                                    
                                   
                                </ul>
                            </li>

                            <li>
                            	  <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                        class="mdi mdi-format-page-break"></i><span>python语法基础</span></a>
                                        	
                                 <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="python/Python-1.html" target="iframeBody"> Python环境，基本类型、判断与循环流程</a></li>
                                    <li><a href="python/Python-2.html" target="iframeBody">面向对象、文件/目录操作</a></li>
                                    <li><a href="python/Lesson2.html" target="iframeBody">容器及使用</a></li>
                                    <li><a href="python/Lesson3.html" target="iframeBody">函数</a></li>
                                    <li><a href="python/Python正则表达式.html" target="iframeBody">Python正则表达式</a></li>
                                    <li><a href="python/Regex Golf Answer.pdf" target="iframeBody">PDF Regex Golf Answer</a></li>
                                    <li><a href="python/string_operation.html" target="iframeBody">字符串操作</a></li>
                                </ul>
														</li>
                            <li>
                            	  <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                        class="mdi mdi-format-page-break"></i><span>机器学习基础</span></a>
                                        	
                                 <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="algorithm/机器学习(上).pdf" target="iframeBody">PDF 机器学习（上）</a></li>
                                    <li><a href="algorithm/机器学习(下).pdf" target="iframeBody">PDF  机器学习（下）</a></li>
                                    <li><a href="algorithm/机器学习概念小抄.pdf" target="iframeBody">PDF 机器学习概念小抄</a></li>
                                      <li><a href="algorithm/linear_regression_example.html" target="iframeBody">线性回归示例</a></li>
                                    <li><a href="algorithm/logistic_regression_example.html" target="iframeBody">逻辑斯特回归示例</a></li>
                                    
                                    <li><a href="https://zhuanlan.zhihu.com/p/41417638" target="iframeBody"> xgboost原理</a></li>
                                    <li><a href="https://zhuanlan.zhihu.com/p/31654000" target="iframeBody"> xgboost原理02</a></li>
                                      <li><a href="algorithm/1.xgboost_cheatsheet.html" target="iframeBody">xgboost用法速查表</a></li>
                                    <li><a href="algorithm/2.lightgbm_cheatsheet.html" target="iframeBody"> LightGBM用法速查表</a></li>
                                    <li><a href="algorithm/Model_ensemble-example.html" target="iframeBody">模型融合</a></li>
                                    <li><a href="algorithm/xgboost速查表.html" target="iframeBody">xgboost用法速查表02</a></li>
                                    <li><a href="algorithm/xgboost_parameters.html" target="iframeBody"> xgboost参数</a></li>  
                                    <li><a href="algorithm/Rossmann_Store_Sales_competition.html" target="iframeBody"> 便利店销量预测</a></li>  
                                    
                                    <li><a href="algorithm/第7课：机器学习中的特征工程.pdf" target="iframeBody">PDF 特征工程理论</a></li>
                                    <li><a href="algorithm/第8课：模型调优与融合.pdf" target="iframeBody">PDF 模型调优与融合理论</a></li>
                                   <li><a href="algorithm/1.feature_engineering_and_selection.html" target="iframeBody">数据处理、特征工程、特征选择</a></li>
                                    <li><a href="algorithm/2.cross_validation_and_grid_search.html" target="iframeBody"> 模型的评估与参数调优</a></li>
                                    <li><a href="algorithm/3.Model_ensemble-example.html" target="iframeBody">模型融合</a></li>
                                    <li><a href="algorithm/Titanic.html" target="iframeBody"> 泰坦尼克号存活案例</a></li>
                                    <li><a href="algorithm/Titanic-by-hanxiaoyang.html" target="iframeBody"> 泰坦尼克号存活案例02</a></li>  
                                    <li><a href="algorithm/PCA 酒店分类.html" target="iframeBody">PCA 酒店分类</a></li>
                                    <li><a href="algorithm/朴素贝叶斯.html" target="iframeBody"> 朴素贝叶斯</a></li>
                                    <li><a href="algorithm/混合高斯模型.html" target="iframeBody"> 混合高斯模型</a></li>  
                                    
                                    
                                    
                                    
                                </ul>
														</li>
													
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                        class="mdi mdi-share-variant"></i><span>Sklearn库算法基础</span></a>
                                <ul class="sub-menu" aria-expanded="true">
                                    <li><a href="algorithm/part1_ml_basics.html" target="iframeBody">机器学习综述</a></li>
                                    <li><a href="algorithm/part2_learning_sklearn.html" target="iframeBody">Sklearn库</a></li>
                                    <li><a href="algorithm/part3_sklearn_classification.html" target="iframeBody">Sklearn分类学习算法一览</a></li>
                                    <li><a href="algorithm/part4_sklearn_regression.html" target="iframeBody">sklearn回归建模</a></li>
                                    <li><a href="algorithm/house-price-prediction-solution-checkpoint.html" target="iframeBody">房价预测实例</a></li>
                                        </ul>
                            </li>
                            
                            
                              <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                        class="mdi mdi-share-variant"></i><span>Keras基础与深度学习</span></a>
                                <ul class="sub-menu" aria-expanded="true">
                                	<li><a href="javascript: void(0);" class="has-arrow">keras slide</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                     		
                                           <li><a href="keras/keras slide/1.Quick_tutorial_of_keras.html" target="iframeBody">快速上手Keras</a></li>
			                                    <li><a href="keras/keras slide/2.Keras_sequential_model.html" target="iframeBody">Keras序贯模型</a></li>
			                                    <li><a href="keras/keras slide/3.Keras_functional_model.html" target="iframeBody">Keras函数式模型</a></li>
			                                    <li><a href="keras/keras slide/4.Keras_examples.html" target="iframeBody">常用模型的Keras实现</a></li>  
			                                   
				                                 </ul>
                                     	
                                     </li>
                                   	<li><a href="javascript: void(0);" class="has-arrow">keras program</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                     		
                                           <li><a href="keras/keras program/Food+Classification+with+Deep+Learning+in+Keras.html" target="iframeBody">食物图片分类</a></li>
				                                 </ul>
                                     	
                                     </li>
                                    <li><a href="keras/mnist.html" target="iframeBody">mnist</a></li>
                                  <li><a href="keras/图片风格迁移.html" target="iframeBody">图片风格转化</a></li>
                                  <li><a href="keras/generate_poem.py" target="iframeBody">生成古诗</a></li>
                                  <li><a href="keras/dcgan.py" target="iframeBody">dcgan</a></li>
                                   
                                    <li><a href="keras/Neural_network_example.html" target="iframeBody">人工神经网络初步</a></li>
                                    <li><a href="keras/wide_and_deep_model_keras.py" target="iframeBody">keras写的google Wide&&Deep model</a></li>
                                     <li><a href="javascript: void(0);" class="has-arrow">ANN</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="keras/ANN/1.1 Introduction - Deep Learning and ANN.html" target="iframeBody">Deep Learning and ANN</a></li>
				                                    <li><a href="keras/ANN/1.1.1 Perceptron and Adaline.html" target="iframeBody">Perceptron and Adaline.html</a></li>
				                                   <li><a href="keras/ANN/1.1.2 MLP and MNIST.html" target="iframeBody">MLP and MNIST</a></li>
				                                 </ul>
                                     	
                                     </li>
                                      <li><a href="javascript: void(0);" class="has-arrow">Deep Learning Frameworks</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                           <li><a href="keras/Deep Learning Frameworks/2.1 Introduction - Theano.html" target="iframeBody">Introduction - Theano</a></li>
				                                   <li><a href="keras/Deep Learning Frameworks/2.2 Introduction - Tensorflow.html" target="iframeBody">Introduction - Tensorflow</a></li>
				                                   <li><a href="keras/Deep Learning Frameworks/2.3 Introduction to Keras.html" target="iframeBody">Introduction to Keras</a></li>
				                                   <li><a href="keras/Deep Learning Frameworks/2.3.1  Keras Backend.html.html" target="iframeBody">Keras Backend.html</a></li>
				                                   <li><a href="keras/Deep Learning Frameworks/kaggle_data.py" target="iframeBody">kaggle_data</a></li>
				                                   <li><a href="keras/Deep Learning Frameworks/mnist_data.py" target="iframeBody">mnist_data</a></li>
				                                 </ul>
                                     	
                                     </li>
                                      <li><a href="javascript: void(0);" class="has-arrow">Fully Connected Networks and Embeddings</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                     		
                                           <li><a href="keras/Fully Connected Networks and Embeddings/3.0 - MNIST Dataset.html" target="iframeBody">MNIST Dataset</a></li>
				                                   <li><a href="keras/Fully Connected Networks and Embeddings/3.1 Hidden Layer Representation and Embeddings.html" target="iframeBody">Hidden Layer Representation and Embeddings</a></li>
				                                 
				                                 </ul>
                                     	
                                     </li>
                                     
                                     
                                      <li><a href="javascript: void(0);" class="has-arrow">Convolutional Neural Networks</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                     		
                                            
			                                    <li><a href="keras/Convolutional Neural Networks/4.1 Convolutional Neural Networks.html" target="iframeBody">Convolutional Neural Network</a></li>
			                               			<li><a href="keras/Convolutional Neural Networks/4.2. MNIST CNN.html" target="iframeBody">MNIST CNN 手写数字</a></li>
			                                    <li><a href="keras/Convolutional Neural Networks/4.3 CIFAR10 CNN.html" target="iframeBody">CIFAR10 CNN</a></li>
			                                    <li><a href="keras/Convolutional Neural Networks/4.4 Deep Convolutional Neural Networks.html" target="iframeBody">Deep Network Models</a></li>
			                                    
				                                 </ul>
                                     	
                                     </li>
                                      <li><a href="javascript: void(0);" class="has-arrow">HyperParameter Tuning and Transfer Learning</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                     		
                                            
			                                    <li><a href="keras/HyperParameter Tuning and Transfer Learning/5.1 HyperParameter Tuning.html" target="iframeBody">调参与调试</a></li>
			                                    <li><a href="keras/HyperParameter Tuning and Transfer Learning/5.3 Transfer Learning & Fine-Tuning.html" target="iframeBody">Transfer Learning & Fine-Tuning</a></li>
			                                    <li><a href="keras/HyperParameter Tuning and Transfer Learning/5.3.1 Keras and TF Integration.html" target="iframeBody">Keras与TF整合</a></li>
                                    
				                                 </ul>
                                     	
                                     </li>
                                     <li><a href="javascript: void(0);" class="has-arrow">AutoEncoders and Embeddings</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                     		
                                            
			                                    <li><a href="keras/AutoEncoders and Embeddings/6.1. AutoEncoders and Embeddings.html" target="iframeBody">AutoEncoders and Embeddings</a></li>
			                                    <li><a href="keras/AutoEncoders and Embeddings/6.2 NLP and Deep Learning.html" target="iframeBody">NLP and Deep Learning</a></li>
			                                    <li><a href="keras/AutoEncoders and Embeddings/word_embedding.py" target="iframeBody">word_embedding</a></li>
                                    			<li><a href="keras/AutoEncoders and Embeddings/word2vec.py" target="iframeBody">word2vec</a></li>
                                    
				                                 </ul>
                                     	
                                     </li>
                                      <li><a href="javascript: void(0);" class="has-arrow">Recurrent Neural Networks</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                     		  <li><a href="keras/Recurrent Neural Networks/7.1 RNN and LSTM.html" target="iframeBody">RNN and LSTM</a></li>
			                                    <li><a href="keras/Recurrent Neural Networks/7.2 LSTM for Sentence Generation.html" target="iframeBody">LSTM for Sentence Generation</a></li>
			                                    <li><a href="keras/Recurrent Neural Networks/Keras-LSTM-Sentiment-classification.html" target="iframeBody">LSTM-Sentiment-classification</a></li>
                                    
				                                 </ul>
                                     	
                                     </li>
                                      <li><a href="javascript: void(0);" class="has-arrow">extra</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                     		  <li><a href="keras/extra/8.1 Custom Layer.html" target="iframeBody">Custom Layer</a></li>
			                                    <li><a href="keras/extra/8.2 Multi-Modal Networks.html" target="iframeBody">Multi-Modal Networks</a></li>
			                                    
				                                 </ul>
                                     	
                                     </li>
                                      <li><a href="javascript: void(0);" class="has-arrow">NLP_project</a>
                                     	<ul class="sub-menu" aria-expanded="true">
                                     		  <li><a href="keras/NLP_project/1.chinese_text_word_cloud.html" target="iframeBody">词云实例</a></li>
			                                    <li><a href="keras/NLP_project/2.chinese_text_analysis.html" target="iframeBody">中文自然语言处理分析</a></li>
			                                    <li><a href="keras/NLP_project/3.chinese_text_classifier.html" target="iframeBody">用机器学习方法完成中文文本分类</a></li>
			                                    <li><a href="keras/NLP_project/4.facebook_fasttext.html" target="iframeBody">Facebook FastText</a></li>
			                                    <li><a href="keras/NLP_project/5.deep Learning and text classification.html" target="iframeBody">用深度学习做文本分类</a></li>
				                                 </ul>
                                     	
                                     </li>
                                     
                                    
                                </ul>
                               </li>
                              <li class="menu-title">hadoop and spark</li>  
                              <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                        class="mdi mdi-share-variant"></i><span>大数据基础</span></a>
                                <ul class="sub-menu" aria-expanded="true">
                                    <li><a href="hadoop spark/1.Hadoop介绍与初步.html" target="iframeBody">Hadoop介绍与初步述</a></li>
                                    <li><a href="hadoop spark/2.HDFS简介与常见命令.html" target="iframeBody">HDFS简介与常见命令</a></li>
                                    <li><a href="hadoop spark/3.Hadoop经典案例--词频统计.html" target="iframeBody">Hadoop经典案例--词频统计</a></li>
                                    <li><a href="hadoop spark/hadoop海量数据的分布式处理.pdf" target="iframeBody">hadoop海量数据的分布式处理模</a></li>
                                   
                                        </ul>
                            </li>
                            
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                        class="mdi mdi-share-variant"></i><span>pyspark</span></a>
                                <ul class="sub-menu" aria-expanded="true">
                                    <li><a href="hadoop spark/spark那些事儿.pdf" target="iframeBody">PDF spark基础知识</a></li>
                                    <li><a href="hadoop spark/3.SQL直观小抄.pdf" target="iframeBody">SQL速查表</a></li>
                                    <li><a href="hadoop spark/1.PySpark_Cheat_Sheet_Python.pdf" target="iframeBody">pyspark rdd基础速查表</a></li>
                                    <li><a href="hadoop spark/2.PySpark_SQL_Cheat_Sheet_Python.pdf" target="iframeBody">pyspark sql基础速查</a></li>
                                    <li><a href="hadoop spark/Spark_Core.html" target="iframeBody">Spark 核心概念与操作</a></li>
                                    <li><a href="hadoop spark/Spark_DataFrame.html" target="iframeBody">spark 总览</a></li>
                                    <li><a href="hadoop spark/Spark_DataFrame_SQL_examples.html" target="iframeBody">DataFrame vs SQL</a></li>
                                   <li><a href="hadoop spark/spark_log_analysis.html" target="iframeBody">spark日志分析</a></li>
                                   
                                   
                                    <li><a href="hadoop spark/1.basic_ml_feature_engineering.html" target="iframeBody">Spark基础特征工程</a></li>
                                    <li><a href="hadoop spark/2.basic_ml_unsupervised_learning.html" target="iframeBody">spark无监督学习</a></li>
                                    <li><a href="hadoop spark/3.basic_ml_supervised_learning.html" target="iframeBody">spark监督学习</a></li>
                                    <li><a href="hadoop spark/kaggle_Allstate_Competition_Random_Forest_GBT.html" target="iframeBody">保险公司预测索赔严重程度</a></li>
                                    <li><a href="hadoop spark/2.basic_ml_unsupervised_learning.html" target="iframeBody">spark无监督学习</a></li>
                                    <li><a href="hadoop spark/music classification" target="iframeBody">spark音乐推荐</a></li>
                                    <li><a href="hadoop spark/movie spark" target="iframeBody">spark电影推荐</a></li>
                                        </ul>
                            </li>
                                  
                                    
                                </ul>
                            </li>
                            
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div id="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Dashboard</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Xeloro</a></li>
                                            <li class="breadcrumb-item active">Dashboard</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                         <iframe name="iframeBody" class="iframe-body"  style="display: block; width: 100%; height: 600px" frameborder="0" marginheight="0" marginwidth="0" frameborder="0" scrolling="auto"> 
     										 </iframe>
                        <!-- end row-->


                       


                        
                        <!--end row-->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                
© 2023 版权所有
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-right d-none d-sm-block">
                                    Design & Develop by 财神张
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- Overlay-->
        <div class="menu-overlay"></div>

        <!-- jQuery  -->

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/metismenu.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/waves.js') }}"></script>
        <script src="{{ url_for('static', filename='js/simplebar.min.js') }}"></script>
{#        <!-- Sparkline Js-->#}
        <script src="{{ url_for('static', filename='js/jquery.sparkline.min.js') }}"></script>
{#        <!-- Chart Js-->#}
        <script src="{{ url_for('static', filename='js/jquery.knob.min.js') }}"></script>
{#        <!-- Chart Custom Js-->#}
         <script src="{{ url_for('static', filename='js/knob-chart-demo.js') }}"></script>
{#        <!-- Morris Js-->#}
        <script src="{{ url_for('static', filename='js/morris.min.js') }}"></script>
{#        <!-- Raphael Js-->#}
        <script src="{{ url_for('static', filename='js/raphael.min.js') }}"></script>
{#        <!-- Custom Js -->#}
        <script src="{{ url_for('static', filename='js/dashboard-demo.js') }}"></script>
        <script src="{{ url_for('static', filename='js/theme.js') }}"></script>

        <!-- App js -->

        <script type="text/javascript">
        function onresult(a){

            $('#container-fluid').html(a);
            alert(a);

        }
        </script>


    </body>

</html>