<div class="image-container">
  <div class="image-item">
    <img src="static/img/qq.jpg" alt="Image 1" style="width: 450px; height: 600px;">
    <p>qq交流群，有成功部署的同学，可以请教</p>
  </div>

  <div class="image-item"  style="padding-top: 130px">
    <img src="static/img/wechat.png"  alt="Image 2" style="width: 450px; height: 250px;">
    <p>公众号  需要的链接和资料，可以在这里</p>
  </div>
  <div class="image-item">
    <img src="static/img/qq.jpg" alt="Image 3" style="width: 450px; height: 600px;">
    <p>其他链接</p>
  </div>
</div>

<p>交流软件，禁止违法</p>